{% extends 'base.html.twig' %}

{% block body %}
    <h1>City</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ city.title }}</td>
            </tr>
            <tr>
                <th>Country_id</th>
                <td>{{ city.countryid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-info" href="{{ path('city_index') }}" role="button">Back to the list city</a>
        </li>
        <li>
            <a class="btn btn-success"
            href="{{ path('city_edit', { 'id': city.id }) }}" 
            role="button">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
