{% extends 'base.html.twig' %}

{% block body %}
    <h1>Countries list</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr class="active">
                    <td>
                        <a  class="btn btn-default" 
                            href="{{ path('country_show', { 'id': country.id }) }}" 
                            role="button">{{ country.id }}</a>
                    </td>
                    <td>{{ country.title }}</td>
                    <td>{{ country.text }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('country_show', { 'id': country.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('country_edit', { 'id': country.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul>
        <li>
            <a class="btn btn-info" href="{{ path('country_new') }}" role="button">Create a new country</a>
        </li>
    </ul>
{% endblock %}
